<!DOCTYPE HTML>
{% load staticfiles %}
<html>
    <head>
        <meta charset="UTF-8">
        <title> Index HTML </title>
        <link rel="stylesheet" href="{% static "css/style.css" %}">
    </head>
<body>
<h1> Hi... Next text put is by template tag</h1>
    {{tag1}} <br>
<h1> Here are your accesss records</h1>
    <div class="djangorecords">
        {% if access_records %}
            <table>
                <thead>
                    <th> Site Name </th>
                    <th> Date Acc. </th>
                </thead>
            {% for acc in access_records %}
                <tr>
                    <td> {{ acc.name }} </td>
                    <td> {{ acc.date }} </td>
                </tr>
            {% endfor %}
            </table>
        {% else %}
            <p>No Access Records Found</p>
        {% endif %}
    </div>
</body>
</html>
